<mat-toolbar class="color-theme">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/cargar" routerLinkActive="active">
                    <mat-icon>shopping_cart</mat-icon>
                    Cargar Pedido
                </a>
                <a mat-button routerLink="/admin-pedidos" routerLinkActive="active">
                    <mat-icon>shopping_cart</mat-icon>
                    Pedidos
                </a>
                <a mat-button routerLink="/admin-productos" routerLinkActive="active">
                    <mat-icon>shopping_cart</mat-icon>
                    Productos
                </a>
                <a mat-button routerLink="/admin-configuracion" routerLinkActive="active">
                    <mat-icon>shopping_cart</mat-icon>
                    Configuracion
                </a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>