<mat-toolbar class="color-theme">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/cargar" routerLinkActive="active">
                    <mat-icon>shopping_cart</mat-icon>
                    Cargar Pedido
                </a>
                <a mat-button href="/administrador" routerLinkActive="active">
                    <mat-icon>shopping_cart</mat-icon>
                    Administrador
                </a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>