div.example-container{
    padding: 3%;
}

mat-form-field{
    margin: 10px;
  
}

.botones{

}

button{
    width: 130px;
    height: 70px;
    font-size: 20px;
    color: white;
    margin: 10px;
}

