table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .mat-expansion-panel-header 
  {
    background-color: rgb(252, 252, 252);
    border-bottom-style: inset;
  }