  
  mat-card{
 
  }

  button{
        width: 350px;
        height: 85px;
    background-color: transparent;
   }

   .pendientes{
      padding: 2%;
      background-color: rgb(236, 235, 235);
    text-align: center;
        width: 350px;
   }
   