<div class="pedido">
    <form [formGroup]="form" (ngSubmit)="enviarPedido($event)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Producto</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <mat-form-field>
                        <mat-label>PRODUCTOS</mat-label>
                        <mat-select formControlName="producto" [(value)]="selectedValue">
                            <mat-option *ngFor="let producto of producto" [value]="producto.id">
                                {{producto.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="Cantidad" formControlName="cant" min="1" matInput type="number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="dni" formControlName="dni" matInput type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="nombre" formControlName="nombre" matInput type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input  formControlName="fecha" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <textarea placeholder="Descripcion" formControlName="description" matInput></textarea>                     
                        </mat-form-field>
                    </div>
                </div>
               
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="form.invalid" type="button" mat-raised-button (click)="saveProduct()">Guardar</button>
                <button  mat-raised-button type="submit">Enviar</button>
            </mat-card-actions>
        </mat-card>
    </form>

    <mat-list  role="list">
        <mat-list-item *ngFor="let producto of productoLista" role="listitem">{{producto.name}} - {{producto.cant}}</mat-list-item>
    </mat-list>

</div>

