/* You can add global styles to this file, and also import other style files */
/* font titulos */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* general font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.color-theme{
    background: #399915;
    color: aliceblue;
}

.title-font {
    font-family: 'Lobster', cursive;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20px;
}

@media(min-width: 576px) {
    .container{
        padding-right: 16px;
        padding-left: 16px;
    }

    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}